.buttons .button {
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
}

.player-container {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 30px rgba(0,0,0,2);
}