@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.controls-container .player-button {
  border-style: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  height: 42px;
  width: 37px;
  font-size: 20px;
}

.player-container {
  box-shadow: 0 0 20px rgba(0,0,0,2);
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.player-container .video-container {
  flex-grow: 1;
}

.player-container .controls-container {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}

.controls-container .progress-bar-wrapper {
  flex-grow: 1;
  color: white;
  font-family: "Roboto";
  display: flex;
}

.progress-bar-wrapper .player-progress-bar {
  flex-grow: 1;
}
